*{
    padding: 0px;
    margin: 0px;
}

.bodyCities{
    background: linear-gradient(blueviolet, rgba(137, 43, 226, 0.349), blueviolet);
}

.bodyCountry {
    width: 100vw;
    height: 60%;
    min-height: 60vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.Country {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
    position: relative;
    margin-top: 10px;
}

.infCountry {
    display: flex;
    flex-direction: column;
    position: absolute;
}

.titleLocation {
    position: absolute;
}

.nameCountry {
    position: absolute;
}

.searchFilters {
    width: 100%;
    margin: 30px 0px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

select {
    appearance: none;
    outline: 0;
    border: 0;
    box-shadow: none;
    flex: 1;
    padding: 0 1em;
    color: #3a0868;
    background-image: none;
    cursor: pointer;
    font-size: 18px;
    background-color: #ffffff9d;
}

select::-ms-expand {
    display: none;
}

.select {
    position: relative;
    display: flex;
    width: 30em;
    height: 2.5em;
    border-radius: 0.25em;
    overflow: hidden;
}

option{
    width: 30em;
}

.select::after {
    content: '\25BC';
    position: absolute;
    top: 0;
    right: 0;
    padding: 1em;
    background-color: #ffffff9d;
    transition: .25s all ease;
    pointer-events: none;
}

.select:hover::after {
    color: blueviolet;
}

input[type="search"] {
    width: 28em;
    height: 2.5em;
    background-color: #ffffff9d;
    border: 2px solid rgb(58, 8, 104);
    margin: 0px 15px;
    border-radius: 5px;
}

::placeholder {
    color: rgb(58, 8, 104);
    padding-left: 20px;
}

.cardCities{
    width: 280px;
    height: 200px;
    position: relative;
    border-radius: 10px;
    margin: 20px;
    overflow: hidden;
}

.imgCountry {
    width: 100%;
    height: 100%;
    border-radius: 10px;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.384);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 10px;
    color: white;
    border-radius: 10px;
    cursor: pointer;
}

.overlay:hover{
    background-color: rgba(0, 0, 0, 0.151);
}

.punctuation {
    width: 65px;
    height: 25px;
    background-color: transparent;
}

.punctuation {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 60px;
    height: 25px;
    position: absolute;
    top: 10px;
    left: 10px;
    cursor: pointer;
    background-color: #07070777;
    border-radius: 30px;
}

.likeButton {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
}

.infCountry {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    bottom: 50px;
    left: 10px;
}

.nameCountry {
    font-size: 16px;
    display: flex;
    align-items: center;
    margin-top: 25px;
}

.titleLocation {
    font-size: 20px;
    font-weight: bold;
}

.nameCountry svg {
    margin-right: 5px;
}

.up{
    width: 100%;
    display: flex;
    justify-content: flex-end;
}

.buttonUp {
    border: 2px solid black;
    border-radius: 100px;
    padding: 1px 10px 6px;
    font-size: 30px;
    background-color: rgba(80, 75, 75, 0.527);
    color: black;
    cursor: pointer;
    margin-right: 15px;
}

.loading,
.zeroResults
{
    width: 100%;
    height: 43vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.imgNoResults{
    width: 400px;
    height: 300px;
    margin-top: 40px;
}

.imgLoading{
    width: 400px;
    height: 300px;
}

@media screen and (max-width: 290px){
    .searchFilters{
        flex-direction: column-reverse;
    }

    select,
    ::placeholder{
        font-size: 12px;
    }

    .select {
        width: 17em;
        height: 1.8em;
        margin-top: 10px;
    }

    option{
        width: 15em;
    }

    input[type="search"] {
        width: 17em;
        height: 2em;

    }
    
}

@media screen and (min-width: 291px) and (max-width: 600px) {
    .searchFilters{
        flex-direction: column-reverse;
    }

    select,
    ::placeholder{
        font-size: 12px;
    }

    .select {
        width: 20em;
        height: 2em;
        margin-top: 10px;
    }

    option{
        width: 20em;
    }

    input[type="search"] {
        width: 20em;
        height: 2em;

    }

}

@media screen and (min-width: 601px) and (max-width: 1024px) {
    .searchFilters{
        flex-direction: column-reverse;
    }

    select,
    ::placeholder{
        font-size: 14px;
    }

    .select {
        width: 25em;
        height: 2em;
        margin-top: 10px;
    }

    option{
        width: 25em;
    }

    input[type="search"] {
        width: 25em;
        height: 2em;

    }
}