.containerCity {
    width: 100vw;
    max-width: 100vw;
    height: 100%;
    margin: 0px;
    padding: 0px;
}

.bodyCity {
    width: 100vw;
    height: 100vh;
    top: 0;
}

.title {
    width: 100%;
    height: 20vh;
    text-align: center;
    top: 15% !important;
    color: white;
    font-size: 8em;
}

.overlayDitails {
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: #0000009f;
    border-radius: 0;
}

.details {
    width: 100%;
    height: 70vh;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    margin-left: -15px;
}

.backCities {
    border: 2px solid black;
    border-radius: 100px;
    padding: 5px 8px 5px 5px;
    font-size: 20px;
    background-color: white;
    color: black;
    cursor: pointer;
    margin: 20px;
}

.buttonDetails {
    border: 2px solid black;
    border-radius: 100px;
    padding: 2px 9px;
    font-size: 30px;
    background-color: white;
    color: black;
    cursor: pointer;
    right: 0%;
    bottom: -30%;
}

.sectionInf {
    width: 100vw;
    height: 35vh;
    display: flex;
    flex-direction: row;
}

.items {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.items p {
    font-size: 30px;
    margin-left: 50px;
    margin-top: 15px;
    color: white;
}

.description {
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 20px;
}

.description p {
    width: 90%;
    height: 90%;
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.795);
    border-radius: 10px;
    font-size: 16px;
    text-align: justify;
    color: white;
}

.activities {
    width: 100vw;
    height: 42vh;
}

.titleActivities {
    width: 100%;
    text-align: center;
    font-size: 40px;
    font-weight: bolder;
    margin-top: 20px;
    color: white;
    height: 50px;
}

.swiper {
    width: 80%;
    height: 110%;
}

.swiper-slide {
    display: flex !important;
    justify-content: center;
    align-items: center;
}

.buttonUp {
    border: 2px solid black;
    border-radius: 100px;
    padding: 0px 9px 2px 9px;
    font-size: 30px;
    background-color: white;
    color: black;
    cursor: pointer;
    right: 0%;
    bottom: 0%;

}

.zeroResult{
    width: 100vw;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

.animationR {
    position: relative;
    display: inline-block;
  }
  
  .animationR::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -2px;
    width: 100%;
    height: 4px;
    background-color: #37023de1;
    animation: underline-glow 2s linear infinite;
  }
  
  @keyframes underline-glow {
    0% {
      transform: scaleX(0);
    }
    50% {
      transform: scaleX(1);
    }
    100% {
      transform: scaleX(0);
    }
  }

@media screen and (max-width: 290px){
    .title {
        top: 15%;
        font-size: 3em;
        height: 0vh;
        margin-top: 150px;
    }

    .sectionInf {
        flex-direction: column-reverse;
        height: 40vh;
    }

    .items {
        width: 100%;
    }

    .items p {
        font-size: 12px;
    }

    .description {
        align-items: center;
    }

    .description p {
        font-size: 9px;
        line-height: 12px;
    }

    .titleActivities {
        font-size: 25px;
        height: 0px;
    }

    .activities{
        height: 44vh;
    }

    .animationR{
        text-align: center;
    }

}

@media screen and (min-width: 291px) and (max-width: 600px) {
    .title {
        top: 20%;
        font-size: 3em;
        height: 0vh;
        margin-top: 200px;
    }

    .buttonDetails {
        bottom: -80%;
    }

    .sectionInf {
        flex-direction: column-reverse;
        height: 40vh;
    }

    .items {
        width: 100%;
    }

    .items p {
        font-size: 20px;
    }

    .description {
        align-items: center;
        margin-top: 50px !important;
    }

    .description p {
        font-size: 11px;
        line-height: 15px;
    }

    .titleActivities {
        font-size: 25px;
        height: 0px;
    }

    .activities{
        height: 44vh;
    }

    .animationR{
        text-align: center;
    }

}

@media screen and (min-width: 601px) and (max-width: 900px) {
    .title {
        top: 20%;
        font-size: 5em;
    }

    .buttonDetails {
        bottom: -50%;
    }

    .sectionInf {
        flex-direction: column-reverse;
        height: 47vh;
    }

    .description {
        align-items: center;
    }

    .description p {
        font-size: 16px;
    }

    .items p {
        font-size: 25px;
    }

    .activities{
        height: 36vh;
    }

    .titleActivities {
        font-size: 25px;
        height: 30px;
        margin-top: 0;
    }

}
