*{
    margin: 0;
    padding: 0;
}

.Logo{
    position: relative;
    width: 100%;
    height: 120px;
}

.logoNavbar{
    width: 95px;
    cursor: pointer;
    margin-left: 50px;
    position: relative;
}

.button{
    width: 150px;
    font-size: 16px;
    margin-top: 30px;
    border: solid 2px white;
    padding: 8px;
    border-radius: 8px;
    font-weight: bolder;
    background-color: #500892;
    text-align: center;
}
  
  .animation {
    animation: border-glow 2s linear infinite;
    color: rgb(255, 255, 255);

  }
  

h1{
    position: relative;
}

.C-Text{
    width: 50%;
    height: 65vh;
    display: flex;
    flex-direction: column;
    align-items:flex-start;
    justify-content: center;
    margin-left: 50px;
}

p{
    margin-bottom: 5px !important;
}

.pagP{
    background-repeat: no-repeat;
    position: relative;
    overflow: hidden;
}

.textC{
    width: 100%;
    text-decoration: none;
    font-size: 50px;
    font-weight: 700;
    text-align: left;
    color: #fbff00;
    position: relative;
}


@media screen and (max-width: 600px) {
    .C-Text{
        width: 80%;
    }
    .textC{
        width: 90%;
        font-size: 30px;
        margin-top: 100px;
    }

    .button{
        font-size: 20px;
        margin-top: 30px;
    }
    
}

@media screen and (min-width: 601px) and (max-width: 900px) {
    .textC{
        width: 90%;
        font-size: 45px;
        margin-top: 100px;
    }

    .button{
        font-size: 20px;
        margin-top: 30px;
        padding: 5px;
        font-weight: bolder;
    }
}
