body {
    background: linear-gradient(blueviolet, rgba(137, 43, 226, 0.349), blueviolet);
}

.bodyHome {
    width: 100vw;
    height: 65vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container {
    position: absolute;
    left: 50%;
    top: 10%;
    margin-top: 300px;
    transform: translate(-50%, -50%);
    width: 90%;
    height: 55%;
    padding: 0px;
    background-color: transparent;
    border-radius: 20px;
}

#slide {
    width: max-content;
    margin-top: 50px;
}

.item {
    width: 200px;
    height: 300px;
    background-position: 50% 50%;
    display: inline-block;
    transition: 0.8s;
    background-size: cover;
    position: absolute;
    z-index: 1;
    top: 50%;
    transform: translate(0, -50%);
    border-radius: 20px;
    box-shadow: 0 30px 50px #505050;
}

.item:nth-child(2) {
    left: 0;
    top: 0;
    transform: translate(0, 0);
    border-radius: 0;
    width: 100%;
    height: 100%;
    box-shadow: none;
    border-radius: 20px;
}

.item:nth-child(3) {
    left: 50%;
}

.item:nth-child(4) {
    left: calc(50% + 220px);
}

.item:nth-child(5) {
    left: calc(50% + 440px);
}

.item:nth-child(n + 6) {
    left: calc(50% + 660px);
    opacity: 0;
}

.item .content {
    position: absolute;
    top: 50%;
    left: 60px;
    width: 600px;
    text-align: left;
    padding: 0;
    color: #eee;
    transform: translate(0, -50%);
    display: none;
}

.item:nth-child(2) .content {
    display: flex;
    flex-direction: column;
    align-items: baseline;
    justify-content: space-around;
    z-index: 11111;
    height: 100%;
}

.item .name {
    font-size: 40px;
    font-weight: bold;
    opacity: 0;
    animation: showcontent 1s ease-in-out 1 forwards;
}

.item .des {
    font-size: 30px;
    font-weight: bolder;
    margin: 20px 0;
    opacity: 0;
    animation: showcontent 1s ease-in-out 0.3s 1 forwards;
}

.flag {
    width: 35px;
    margin: 0px 10px 10px 10px;
}

.overlayHome {
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.349);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 10px;
    color: white;
    border-radius: 20px;
    cursor: pointer;
}


@keyframes showcontent {
    from {
        opacity: 0;
        transform: translate(0, 100px);
        filter: blur(33px);
    }

    to {
        opacity: 1;
        transform: translate(0, 0);
        filter: blur(0);
    }
}

.buttons {
    position: absolute;
    bottom: 30px;
    z-index: 222222;
    text-align: center;
    width: 100%;
}

.buttons button {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 1px solid #555;
    transition: 0.5s;
}

.buttons button:hover {
    background-color: #bac383;
}

.CallTo {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 10px;
    position: absolute;
    top: 12%;
}

.CallTo h4 {
    color: white;
}

.buttonI {
    width: 150px;
    font-size: 16px;
    border: solid 2px white;
    padding: 8px;
    border-radius: 8px;
    font-weight: bolder;
    background-color: #500892;
    text-align: center;
    color: white;
    margin: 10px;
}

.animationI {
    animation: border-glow 2s linear infinite;
}

@keyframes border-glow {
    0% {
        box-shadow: 0 0 0 0 #ffffff9d;
    }

    50% {
        box-shadow: 0 0 0 4px #fffb00e1;
    }

    100% {
        box-shadow: 0 0 0 0 #ffffffc5;
    }
}

@media screen and (max-width: 289px) {
    .bodyHome {
        height: 70vh;
    }

    .CallTo {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        top: 16%;
    }

    .container {
        top: 20%;
        margin-top: 260px;
        height: 45%;
    }

    .item {
        width: 180px;
        height: 220px;
    }

    .item .content {
        left: 40px;
    }

    .item .name {
        font-size: 20px;
        margin-bottom: 300px;
    }

    .item .des {
        margin-bottom: 20px;
        font-size: 18px;
    }

    .item:nth-child(4),
    .item:nth-child(5) {
        opacity: 0;
    }
}

@media screen and (min-width: 290px) and (max-width: 600px) {
    .bodyHome {
        height: 60vh;
    }

    .container {
        top: 20%;
        margin-top: 260px;
        height: 45%;
    }

    .CallTo {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        top: 15%;
    }

    .item .name {
        font-size: 30px;
        margin-bottom: 150px;
    }

    .item .des {
        font-size: 25px;
        margin-bottom: 30px;
    }

    .item:nth-child(4),
    .item:nth-child(5) {
        opacity: 0;
    }

    .item {
        width: 130px;
        height: 150px;
    }


    .item .content {
        justify-content: space-around;
        height: 100%;
        left: 10px;
    }

    .buttons{
        bottom: 5px;
    }
}

@media screen and (min-width: 601px) and (max-width:1200px) {
    .bodyHome {
        height: 60vh;
    }

    .container {
        top: 20%;
        margin-top: 330px;
        height: 45vh;
    }

    .item{
        width: 200px;
        height: 250px;
    }

    .item .name {
        font-size: 40px;
        margin-bottom: 150px;
    }

    .item:nth-child(5) {
        opacity: 0;
    }

    .CallTo {
        top: 13%;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}
